<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 3 basic</title>
    <style>
        /*v-cloak pour charger le dom quand tout est pret*/
        [v-cloak] {
            display: none;
        }

        .box {
            background-color: darkcyan;
            width: 300px;
            height: 300px;
        }

        input {
            display: block;
            margin: 10px;
        }
    </style>
</head>
<body>

<!--v-cloak pour charger le dom quand tout est pret-->
<div id="app" v-cloak>{{greeting}}
    <br>
    {{response}}

    <!--2 way databiding-->
    <!--Bind event sur une touche-->
    <input @keyup.enter="greet" type="text" v-model="greeting">

    <hr>

    <!--le if-->
    <div v-if="isVisible">Jui visible :o</div>
    <div v-else-if="!isVisible">Jui pas visible :(</div>
    <div v-else>c cho... (on ne passe pas dedans puisque !isVisible dans le else if</div>

    <hr>

    <!--pareil que avec le @-->
    <button v-on:click="isVisible = !isVisible">Toggle box</button>
    <button @click="isVisible = !isVisible">Toggle box</button>

    <!--Avec une méthode-->
    <button @click="toggleBox">Toggle box</button>
    <div class="box" v-if="isVisible"></div>

    <login-form></login-form>
</div>


<script src="https://unpkg.com/vue@3"></script>
<script>
    let app = Vue.createApp({
        data: function () {
            return {
                greeting: 'Hello there',
                response: 'General Kenobi',
                isVisible: false
            }
        },
        methods: {
            toggleBox() {
                this.isVisible = !this.isVisible
            },
            greet() {
                console.log(this.greeting)
            }
        }
    })
    /*.prevent permet de ne pas recharger la page. (prevent default)*/
    app.component('login-form', {
        template: `
          <form @submit.prevent="onSubmit">
          <h1>{{ title }}</h1>
          <input type="email" v-model="email">
          <input type="password" v-model="password">
          <button type="submit">Se connecter</button>
          </form>
        `,
        data() {
            return {
                title: 'Login Form',
                email: '',
                password: ''
            }
        },
        methods: {
            onSubmit() {
                console.log('submitted ' + this.email + ' ' + this.password)
            }
        }
    })

    app.mount("#app")

</script>

</body>
</html>